In [9]:
import pandas as pd

data = "../../data/Coffee Chain.csv"
from datetime import datetime
dateparse = lambda x: datetime.strptime(x, '%d/%-m/%Y')

df = pd.read_csv(data)
df["Ddate"] = df["Ddate"].transform(pd.to_datetime)
df

,Area Code,Ddate,Market,Market Size,Product,Product Type,State,Type,Budget Cogs,Budget Margin,...,Budget Sales,Coffee Sales,Cogs,Inventory,Margin,Marketing,Number of Records,Number Of Records,Profit,Total Expenses
0,970,2012-01-01,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,100,140,...,240,234,95,821,139,26,1,1,101,38
1,719,2012-02-01,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,100,140,...,240,232,95,809,137,26,1,1,99,38
2,720,2012-03-01,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,100,140,...,240,234,95,799,139,26,1,1,101,38
3,303,2012-04-01,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,100,150,...,250,245,100,822,145,28,1,1,105,40
4,720,2012-05-01,Central,Major Market,Decaf Irish Cream,Coffee,Colorado,Decaf,110,150,...,260,256,104,871,152,29,1,1,112,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243,253,2013-08-01,West,Small Market,Green Tea,Tea,Washington,Regular,20,50,...,70,104,44,617,61,39,1,1,-11,64
4244,206,2013-09-01,West,Small Market,Green Tea,Tea,Washington,Regular,40,60,...,100,159,62,612,87,56,1,1,3,85
4245,206,2013-10-01,West,Small Market,Green Tea,Tea,Washington,Regular,20,40,...,60,153,60,606,84,54,1,1,0,84
4246,509,2013-11-01,West,Small Market,Green Tea,Tea,Washington,Regular,40,60,...,100,157,61,613,86,55,1,1,1,85
4247,509,2013-12-01,West,Small Market,Green Tea,Tea,Washington,Regular,40,50,...,90,140,55,627,76,49,1,1,-4,79

### Does the dataset have any missing values? Write an expression to obtain a single boolean value 
(i.e.,True or False) that signifies whether the DataFrame has any missing values or not.

In [18]:
import numpy as np

df.isnull().sum()

Area Code            0
Ddate                0
Market               0
Market Size          0
Product              0
Product Type         0
State                0
Type                 0
Budget Cogs          0
Budget Margin        0
Budget Profit        0
Budget Sales         0
Coffee Sales         0
Cogs                 0
Inventory            0
Margin               0
Marketing            0
Number of Records    0
Number Of Records    0
Profit               0
Total Expenses       0
dtype: int64

2. What different product types are there in the dataset? Produce a list of all unique product types in the
dataset, i.e., unique values in the "Product Type" column.

In [ ]:
df['Product Type'].unique()

array(['Coffee', 'Espresso', 'Herbal Tea', 'Tea'], dtype=object)

3. What different "coffee" products are there in the dataset? Produce a list of all unique coffee products in
the dataset, i.e., values in the "Product" column where the "Product Type" is "Coffee".

In [20]:
df.groupby("Product Type")["Product"].unique()

Product Type
Coffee                 [Decaf Irish Cream, Amaretto, Colombian]
Espresso      [Decaf Espresso, Caffe Mocha, Regular Espresso...
Herbal Tea                             [Chamomile, Lemon, Mint]
Tea                          [Darjeeling, Earl Grey, Green Tea]
Name: Product, dtype: object

4. What different "coffee or espresso" products are there in the dataset? Do the same as above, but this
time include all products where the "Product Type" is either "Coffee" or "Espresso". Try to figure out how to do

In [48]:
keyword_list = ['Coffee','Espresso'] 
df['Type']=df.Product.str.findall('|'.join(keyword_list))
#s = df.groupby('Product Type')['Type'].apply(lambda x: pd.Series.mode(x.sum())[0]).reset_index()
df['Type']

0       []
1       []
2       []
3       []
4       []
        ..
4243    []
4244    []
4245    []
4246    []
4247    []
Name: Type, Length: 4248, dtype: object

In [30]:
keyword_list = ['Coffee','Espresso'] 
df.loc[df.loc[:,"Product Type"].isin(keyword_list)].loc[:,"Product"].unique()

array(['Decaf Irish Cream', 'Decaf Espresso', 'Amaretto', 'Colombian',
       'Caffe Mocha', 'Regular Espresso', 'Caffe Latte'], dtype=object)

5. Which product type generates the most/the least profit, on average? Find out the average "Profit"
values by "Product Type".

In [48]:
%%timeit -r 1 -n 1
df.groupby("Product Type")["Profit"].mean()

1.19 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [43]:
%%timeit
df.groupby("Product Type").mean().Profit

1.31 ms ± 10.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)